﻿@model Novo.Models.Entity.NewTasks

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{ ViewData["Title"] = "Edit Task";
                var user = await UserManager.GetUserAsync(User); }

<div class="modal-header">
    <h2 class="modal-title">Edit Task</h2>
    <a href="#" id="btnCloseModal" class="btn btn-sm btn-danger" data-dismiss="modal">&times;</a>
    @*<button class="btn btn-sm pull-right btn-danger" type="button" id="btnCloseModal" data-dismiss="modal">&times;</button>*@

</div>

<div class="modal-body">
 
    <form asp-action="Edit" enctype="multipart/form-data" method="post" id="EditForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label asp-for="TaskName" class="control-label"></label>
                <input asp-for="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="form-group col-md-5">
                <label asp-for="TaskType" class="control-label"></label>
                <input asp-for="TaskType" class="form-control" />
                <span asp-validation-for="TaskType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
              
                <label asp-for="TaskDescription" class="control-label"></label>
                <textarea asp-for="TaskDescription" id="TaskDescription" class="form-control" rows="2"></textarea>
                <span asp-validation-for="TaskDescription" class="text-danger"></span>
            </div>
        </div>
        <div></div>
        <div class="form-row">
            
            <div class="form-group col-md-12">
                <label asp-for="AssignBy" class="control-label"></label>
                <input asp-for="AssignBy" class="form-control" readonly />
                <span asp-validation-for="AssignBy" class="text-danger"></span>
            </div>
        </div>
        <div class="text-center">
            <div class="spinner-border" role="status" style="display:none" id="loader">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label asp-for="ExpectedStartDate" class="control-label"></label>
                <input asp-for="ExpectedStartDate" class="form-control" />
                <span asp-validation-for="ExpectedStartDate" class="text-danger"></span>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="form-group col-md-5">
                <label asp-for="ExpectedEndDate" class="control-label"></label>
                <input asp-for="ExpectedEndDate" class="form-control" />
                <span asp-validation-for="ExpectedEndDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group" hidden>
            <label asp-for="StartDate" class="control-label"></label>
            <input asp-for="StartDate" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group" hidden>
            <label asp-for="EndDate" class="control-label"></label>
            <input asp-for="EndDate" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label asp-for="Status" class="control-label"></label>
                <select class="form-control" asp-for="Status">
                    <option>Ongoing</option>
                    <option>Incompleted</option>
                    <option>Completed</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="form-group col-md-5">
                <label asp-for="Remark" class="control-label"></label>
                <input asp-for="Remark" class="form-control" placeholder="Hr / Head status message" />
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
        </div>
        @*<div class="form-group">
            <label asp-for="Status" class="control-label"></label>
            <input asp-for="Status" class="form-control" />
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>*@
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="AssignToId" />
        <input type="hidden" asp-for="EmployeeId" />

        <div class="form-group" hidden>
            <label asp-for="AddedBy" class="control-label"></label>
            <input asp-for="AddedBy" class="form-control" />
            <span asp-validation-for="AddedBy" class="text-danger"></span>
        </div>
        <div class="form-group" hidden>
            <label asp-for="UpdatedBy" class="control-label"></label>
            <input asp-for="UpdatedBy" class="form-control" />
            <span asp-validation-for="UpdatedBy" class="text-danger"></span>
        </div>
        <div class="form-group" hidden>
            <label asp-for="CreateDate" class="control-label"></label>
            <input asp-for="CreateDate" class="form-control" />
            <span asp-validation-for="CreateDate" class="text-danger"></span>
        </div>
        <div class="form-group" hidden>
            <label asp-for="UpdateDate" class="control-label"></label>
            <input asp-for="UpdateDate" class="form-control" />
            <span asp-validation-for="UpdateDate" class="text-danger"></span>
        </div>
        <div class="form-group" hidden>
            <div class="checkbox">
                <label>
                    <input asp-for="IsDelete" /> @Html.DisplayNameFor(model => model.IsDelete)
                </label>
            </div>
        </div>
        <div class="form-row">
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
            {
    <div class="form-group col-md-5" hidden>
        <div class="checkbox">
            <label>
                <input asp-for="isHrApproved" />
                <a asp-for="isHrApproved" class="btn btn-sm btn-rounded btn-primary">
                    <span class="text-white">Satisfactory</span>
                </a>
            </label>
        </div>
    </div>
                    <div class="col-md-1"></div>
                                    <div class="form-group col-md-5">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="isUnitHeadApproved" />
                                                <a asp-for="isUnitHeadApproved" class="btn btn-sm btn-rounded btn-primary">
                                                    <span class="text-white">Satisfactory</span>
                                                </a>
                                            </label>

                                        </div>
                                    </div>}
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
            {
    <div class="form-group col-md-5" hidden>
        <div class="checkbox">
            <label>
                <input asp-for="isHrDisapprove" />
                <a asp-for="isHrDisapprove" class="btn btn-sm btn-rounded btn-danger">
                    <span class="text-white">UnSatisfactory</span>
                </a>
            </label>
        </div>
    </div>
                    <div class="col-md-1"></div>
                                    <div class="form-group col-md-5">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="isUnitHeadDisapprove" />
                                                <a asp-for="isUnitHeadDisapprove" class="btn btn-sm btn-rounded btn-danger">
                                                    <span class="text-white">UnSatisfactory</span>
                                                </a>
                                            </label>
                                        </div>
                                    </div>}
        </div>

        <div class="form-row">
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("HR"))
            {
    <div class="form-group col-md-5" hidden>
        <div class="checkbox">
            <label>
                <input asp-for="isUnitHeadApproved" />
                <a asp-for="isUnitHeadApproved" class="btn btn-sm btn-rounded btn-primary">
                    <span class="text-white">Satisfactory</span>
                </a>
            </label>

        </div>
    </div>
                    <div class="col-md-1"></div>
                                    <div class="form-group col-md-5">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="isHrApproved" />
                                                <a asp-for="isHrApproved" class="btn btn-sm btn-rounded btn-primary">
                                                    <span class="text-white">Satisfactory</span>
                                                </a>
                                            </label>
                                        </div>
                                    </div>}

            @if (SignInManager.IsSignedIn(User) && User.IsInRole("HR"))
            {
    <div class="form-group col-md-5" hidden>
        <div class="checkbox">
            <label>
                <input asp-for="isUnitHeadDisapprove" />
                <a asp-for="isUnitHeadDisapprove" class="btn btn-sm btn-rounded btn-danger">
                    <span class="text-white">UnSatisfactory</span>
                </a>
            </label>
        </div>
    </div>
                    <div class="form-group col-md-5">
                        <div class="checkbox">
                            <label>
                                <input asp-for="isHrDisapprove" />
                                <a asp-for="isHrDisapprove" class="btn btn-sm btn-rounded btn-danger">
                                    <span class="text-white">UnSatisfactory</span>
                                </a>
                            </label>
                        </div>
                    </div>}
        </div>

        <br />


        <div class="form-group">

            @*<button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Update</button>*@
            @*@if (SignInManager.IsSignedIn(User) && User.IsInRole("User") && !(User.IsInRole("UnitHead")) && !(User.IsInRole("HR")))
            {
    <a asp-action="index" asp-controller="Tasks" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>}


            @if (SignInManager.IsSignedIn(User) && User.IsInRole("HR"))
            {
    <a asp-action="TAskHR" asp-controller="Tasks" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>}

            @if (SignInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
            {
    <a asp-action="TAskUHead" asp-controller="Tasks" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>}*@
            <button class="btn btn-rounded btn-success float-right" type="button" onclick="EditEmp(@Model.Id)">Submit</button>

        </div>
    </form>

</div>
<br />
<br />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
