﻿@model Novo.Models.Entity.Leaves

@{
    ViewData["Title"] = "Details";
}

    <div class="col-md-10 m-auto grid-margin grid-margin-md-0">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item"><a asp-action="Index">Leave List</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Leave Details</li>
                    </ol>
                </nav><br />

                <div class="adv-table col-md-11 m-auto">



                    <table class="table table-hover table-striped table-bordered table-responsive-sm">

                        <thead>



                            <tr>

                                <td>Start Date: </td>
                                <td><b> @Html.DisplayFor(model => model.StartDate)</b></td>


                            </tr>
                            <tr>  <td>End Date: </td><td><b> @Html.DisplayFor(model => model.EndDate)</b> </td></tr>
                            <tr>  <td>Email Name: </td><td><b> @Html.DisplayFor(model => model.EmployeeEmail)</b> </td></tr>
                            <tr><td>Leave Type:</td><td> <b>   @Html.DisplayFor(model => model.LeaveType.Type)</b></td></tr>
                            <tr>
                                <td>Unit Head Approval:</td>
                                <td>
                                    <b>
                                        @if (Model.isUnitHeadApproved == false)
                                        {
                                            <p>Not Approved</p>
                                        }
                                        else
                                        {
                                            <p>Approved</p>
                                        }
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <td>HR Approval:</td>
                                <td>
                                    <b>
                                        @if (Model.isHrApproved == false)
                                        {
                                            <p>Not Approved</p>
                                        }
                                        else
                                        {

                                            <p>Approved</p>
                                        }
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <td>Leave Status:</td>
                                <td>
                                    <b>
                                        @if (Model.isHrApproved == false || Model.isUnitHeadApproved == false)
                                        {
                                            <p>Undergoing Review</p>
                                        }
                                        else
                                        {
                                            <p>Approved</p>
                                        }
                                    </b>
                                </td>
                            </tr>
                            <tr><td>leave Type:</td><td> <b>   @Html.DisplayFor(model => model.LeaveType.Type)</b></td></tr>


                        </thead>

                    </table>

                </div>


                <br />


                <div class="form-group">

                    <a asp-action="edit" asp-route-id="@Model.Id" class="btn btn-rounded btn-primary float-left ml-5"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Edit</a>
                    <a asp-action="index" class="btn btn-rounded btn-success float-right mr-5"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                    <br />

                </div>
            </div>
        </div>
    </div>