﻿@model Novo.Models.Entity.Leaves

@{
    ViewData["Title"] = "Edit";
}



<div class="col-md-10 m-auto grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Leave List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Leave</li>
                </ol>
            </nav><br /><br />
                        <form method="post" enctype="multipart/form-data" asp-action="EditHR">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="StartDate" class="control-label"></label>
                                <input asp-for="StartDate" class="form-control" readonly />
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EndDate" class="control-label"></label>
                                <input asp-for="EndDate" class="form-control" readonly />
                                <span asp-validation-for="EndDate" class="text-danger"></span>
                            </div>
                            <div class="form-group" hidden>
                                <label asp-for="EmployeeEmail" class="control-label"></label>
                                <input asp-for="EmployeeEmail" class="form-control" readonly />
                                <span asp-validation-for="EmployeeEmail" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LeaveTypeId" class="control-label"></label>
                                <select asp-for="LeaveTypeId" class="form-control" asp-items="ViewBag.LeaveTypeId"></select>
                                <span asp-validation-for="LeaveTypeId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Purpose" class="control-label"></label>
                                <textarea asp-for="Purpose" readonly class="form-control"></textarea>
                                <span asp-validation-for="Purpose" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="isUnitHeadApproved" class="control-label"></label>
                                    <input asp-for="isUnitHeadApproved" value="Approved" disabled class="form-control" />
                                    <span asp-validation-for="isUnitHeadApproved" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="UnitsId" class="control-label"></label>
                                <select asp-for="UnitsId" class="form-control" asp-items="ViewBag.UnitsId"></select>
                                @*@Html.DropDownList("LeaveTypeId", (IEnumerable<SelectListItem>)ViewBag.LeaveType, null, new { @class = "form-control" })*@
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="isHrApproved" />
                                        <a asp-for="isHrApproved" class="btn btn-sm btn-rounded btn-primary">
                                            <span class="text-white">Approve</span>
                                        </a>
                                    </label>
                                </div>
                            </div>

                            <input type="hidden" asp-for="Id" />
                            <div class="form-group" hidden>
                                <label asp-for="AddedBy" class="control-label"></label>
                                <input asp-for="AddedBy" class="form-control" />
                                <span asp-validation-for="AddedBy" class="text-danger"></span>
                            </div>
                            <div class="form-group" hidden>
                                <label asp-for="UpdatedBy" class="control-label"></label>
                                <input asp-for="UpdatedBy" class="form-control" />
                                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
                            </div>
                            <div class="form-group" hidden>
                                <label asp-for="CreateDate" class="control-label"></label>
                                <input asp-for="CreateDate" class="form-control" />
                                <span asp-validation-for="CreateDate" class="text-danger"></span>
                            </div>
                            <div class="form-group" hidden>
                                <label asp-for="UpdateDate" class="control-label"></label>
                                <input asp-for="UpdateDate" class="form-control" />
                                <span asp-validation-for="UpdateDate" class="text-danger"></span>
                            </div>


                            <br /><br />


                            <div class="form-group">

                                <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Update</button>
                                <a asp-action="index" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                                <br />
                                <br />
                                <br />

                            </div>
                        </form>
        </div>
    </div>
</div>
