﻿@model Novo.Models.Entity.HandoverLeave

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



@{
    ViewData["Title"] = "Create";
    var user = await UserManager.GetUserAsync(User);
}



<h4 class="text-center text-primary">Handover Leave Note</h4>
<hr />
<div class="row">
    <div class="col-md-5 offset-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Employee" class="control-label"></label>
                <input asp-for="Employee" class="form-control" value="@user.FirstName @user.LastName" readonly />
                <span asp-validation-for="Employee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <textarea asp-for="Note" class="form-control"></textarea>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AddedBy" class="control-label"></label>
                <input asp-for="AddedBy" class="form-control" value="@user.FirstName @user.LastName" readonly />
                <span asp-validation-for="AddedBy" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsDelete" hidden />
                    </label>
                </div>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Submit" class="btn btn-primary float-left" />
                <a asp-action="Index" class="btn btn-primary float-right">Back</a>
            </div>
        </form>
    </div>
</div>


<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
