﻿@model Novo.Models.Entity.HandoverLeave

@{
    ViewData["Title"] = "Delete";
}

<h4 class="text-center">Are you sure you want to delete this?</h4>

<div class="p-4 border rounded row">

    <div class="col-8">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Employee"></label>
            </div>
            <div class="col-8">
                <input asp-for="Employee" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Note"></label>
            </div>
            <div class="col-8">
                <input asp-for="Note" readonly class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="GetUser"></label>
            </div>
            <div class="col-8">
                <input asp-for="GetUser.FirstName" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="AddedBy"></label>
            </div>
            <div class="col-8">
                <input asp-for="AddedBy" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="CreateDate"></label>
            </div>
            <div class="col-8">
                <input asp-for="CreateDate" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="UpdateDate"></label>
            </div>
            <div class="col-8">
                <input asp-for="UpdateDate" readonly class="form-control" />
            </div>
        </div>


    </div>

    <br />
   
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn-sm btn-primary" />
        <a asp-action="Index" class="btn-sm btn-primary">Back</a>
    </form>
</div>




