﻿@model IEnumerable<Novo.Models.Entity.HandoverLeave>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create" class="btn btn-info">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
              Note
            </th>
            <th>
                Assigned
                @*@Html.DisplayNameFor(model => model.GetUser)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>*@
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetUser.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>*@
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" >Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" >Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" >Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
