﻿@model Novo.Models.Entity.NewTasks

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>NewTasks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaskType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaskDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssignBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssignBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpectedStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpectedStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpectedEndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpectedEndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isUnitHeadApproved)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isUnitHeadApproved)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isHrApproved)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isHrApproved)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isEmpApproved)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isEmpApproved)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isUnitHeadDisapprove)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isUnitHeadDisapprove)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isHrDisapprove)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isHrDisapprove)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
