﻿@model IEnumerable<Novo.Models.Entity.Appraisal>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationalExpensesReduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationalExpensesReductionAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalBillsReduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalBillsReductionAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetailProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetailProductAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinancialSubTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinancialSubTotalAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TurnAroundTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TurnAroundTimeAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimalComplaints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimalComplaintsAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConstantCommunication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConstantCommunicationAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerSatisfactionTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerSatisfactionTotalAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimelyCompletion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimelyCompletionAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimelyAudit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimelyAuditAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZeroNonCompliance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZeroNonComplianceAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PromptReview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PromptReviewAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZeroProcessFailures)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZeroProcessFailuresAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternalProcess)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternalProcessAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdhocTasks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdhocTasksAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessTotalAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingHoursAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisciplinaryRecord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisciplinaryRecordAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Culture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CultureAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendanceAndPunctuality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendanceAndPunctualityAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechnologyProficiency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechnologyProficiencyAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LearningTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LearningTotalAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teamwork)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamworkAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professionalism)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessionalismAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostConciousness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostConciousnessAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Communication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommunicationAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalDiscipline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalDisciplineAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerService)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerServiceAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Innovation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InnovationAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagementSkills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagementSkillsAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContinuousImprovement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContinuousImprovementAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetingDeadlines)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetingDeadlinesAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeBTotalScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppraiserBTotalScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExceptionalAchievements)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectionAScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectionAScoreAppraisal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectionBTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDelete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OperationalExpensesReduction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OperationalExpensesReductionAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicalBillsReduction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicalBillsReductionAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RetailProduct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RetailProductAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinancialSubTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinancialSubTotalAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TurnAroundTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TurnAroundTimeAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinimalComplaints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinimalComplaintsAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConstantCommunication)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConstantCommunicationAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerSatisfactionTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerSatisfactionTotalAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimelyCompletion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimelyCompletionAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimelyAudit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimelyAuditAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZeroNonCompliance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZeroNonComplianceAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PromptReview)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PromptReviewAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZeroProcessFailures)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZeroProcessFailuresAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InternalProcess)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InternalProcessAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdhocTasks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdhocTasksAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProcessTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProcessTotalAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainingHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainingHoursAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisciplinaryRecord)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisciplinaryRecordAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Culture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CultureAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttendanceAndPunctuality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttendanceAndPunctualityAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TechnologyProficiency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TechnologyProficiencyAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LearningTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LearningTotalAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teamwork)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamworkAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Professionalism)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProfessionalismAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostConciousness)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostConciousnessAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Communication)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommunicationAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonalDiscipline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonalDisciplineAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerService)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerServiceAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Innovation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InnovationAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManagementSkills)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManagementSkillsAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContinuousImprovement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContinuousImprovementAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeetingDeadlines)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeetingDeadlinesAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeBTotalScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppraiserBTotalScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExceptionalAchievements)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SectionAScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SectionAScoreAppraisal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SectionBTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDelete)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
