﻿@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Staffs";
}

<form method="post">
    <div class="card">
        @*<div class="card-header">
            <h3>Create Appraisal Forms</h3>
        </div>*@
        <div class="card-body">
            <table>
                @foreach (var mode in Model)
                {
                   
                    var r = mode.FirstName + " " + mode.LastName;
                    <tr>
                        <td>
                            @*<div class="form-check m-1">*@
                                <input asp-for="@mode.Id" type="hidden" />
                                @*<input asp-for="@mode.UserName" rea" />*@
                                @*<input asp-for="@mode.IsSelected" class="form-check-input" />
                            <label asp-for="@mode.IsSelected" class="form-check-label">@Model[i].UserName</label>*@
                                <label class="mr-5">@Html.DisplayFor(Model => r)</label>
                                
                        </td>
                        <td>
                            <a asp-action="create" asp-route-id="@mode.Id" class="btn btn-primary mr-3">Create</a>
                        </td>
                        <td>
                            <a asp-action="details" asp-route-id="@mode.Id" class="btn btn-info mr-3">Details</a>
                        </td>
                        <td>
                            <a asp-action="edit" asp-route-id="@mode.Id" class="btn btn-dark mr-3 mb-2">Edit</a>

                        </td>

                    </tr>
                }

            </table>
        </div>
        </div>
        <div class="card-footer">
            @*<input type="submit" value="Update" class="btn btn-primary" />*@
            @*<a asp-action="EditRole" asp-route-id="@roleId" class="btn btn-primary">Cancel</a>*@
        </div>
    @*</div>*@
</form>