﻿@model Novo.Models.Entity.Request
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Request Details";
}


<h3 class="text-center text-info">Request-Information</h3>

<div class="p-4 border rounded row">
    <div class="col-8">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="RequestName"></label>
            </div>
            <div class="col-8">
                <input asp-for="RequestName" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="RequestDescription"></label>
            </div>
            <div class="col-8">
                <textarea asp-for="RequestDescription" id="RequestDescription" class="form-control" rows="3" readonly></textarea>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Comment"></label>
            </div>
            <div class="col-8">
                <input asp-for="Comment" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="AddedBy"></label>
            </div>
            <div class="col-8">
                <input asp-for="AddedBy" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="AssignToId"></label>
            </div>
            <div class="col-8">
                <input asp-for="ApplicationUser.UserName" readonly class="form-control" />
            </div>
        </div>
      
    </div>



    <br />
    <div class="form-group">
        @if (SignInManager.IsSignedIn(User) && User.IsInRole("User") && !(User.IsInRole("UnitHead")) && !(User.IsInRole("HR")))
                {
        <a asp-action="index" asp-controller="Requests" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>}


                @if (SignInManager.IsSignedIn(User) && User.IsInRole("HR"))
                {
        <a asp-action="RequestHI" asp-controller="Requests" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>}

                @if (SignInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
                {
        <a asp-action="RequestUH" asp-controller="Requests" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>}
    </div>
</div>


































