﻿@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> UserManager


@{
   
    var Code = Guid.NewGuid().ToString("n").Substring(0, 4);
    var user = await UserManager.GetUserAsync(User);
    //var formtype = "hidden";
    //var Input = "readonly";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Novo HRMS</title>
   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="~/img/icon.png" rel="icon">
    <environment include="Development">
        <link href="~/new/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="~/css/jquery.timepicker.css" rel="stylesheet" />
        <link href="~/css/jquery-ui.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link href="~/new/css/sb-admin-2.min.css" rel="stylesheet" />

        <script src="~/bootstrap-sweetalert-master/dist/sweetalert.js"></script>
        <link href="~/bootstrap-sweetalert-master/dist/sweetalert.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/new/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="~/css/jquery.timepicker.css" rel="stylesheet" />
        <link href="~/css/jquery-ui.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link href="~/new/css/sb-admin-2.min.css" rel="stylesheet" />
        <script src="~/bootstrap-sweetalert-master/dist/sweetalert.js"></script>
        <link href="~/bootstrap-sweetalert-master/dist/sweetalert.css" rel="stylesheet" />
    </environment>
</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-action="index" asp-controller="home">
                <div class="sidebar-brand-icon rotate-n-0">
                    @*<i class="fas fa-laugh-wink"></i>*@
                    <img src="~/img/icon.png" style="width:50px; height:50px;" />

                </div>
                <div class="sidebar-brand-text mx-3">Novo HRMS</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="index" asp-controller="home">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <!-- <div class="sidebar-heading">
      Interface
    </div> -->
            <!-- Nav Item - Pages Collapse Menu -->
            @if (signInManager.IsSignedIn(User) && User.IsInRole("User"))
            {

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-users"></i>
                <span>Employee</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" asp-action="details" asp-controller="EmploymentDetails1">Employee Profile</a>
                    <a class="collapse-item" asp-action="Details" asp-controller="EmployeeContacts1">Employee Contacts</a>
                    <a class="collapse-item" asp-action="index" asp-controller="Qualifications1">Academic Records</a>


                </div>
            </div>
        </li> } @*<li class="nav-item">
        <a class="nav-link" asp-page="">
            <i class="fas fa-fw fa-pen-fancy"></i>
            <span>Change Password</span>
        </a>
    </li>*@


            @if (signInManager.IsSignedIn(User) && User.IsInRole("User") && !(User.IsInRole("UnitHead")) && !(User.IsInRole("HR")))
            {
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-briefcase"></i>
                <span>Request</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Request Utilities:</h6>
                    @*<a class="collapse-item" asp-action="Create" asp-controller="Requests">Create Request</a>*@
                    <a class="collapse-item" asp-action="Index" asp-controller="Requests">Request List</a>

                </div>
            </div>
        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Tasks">
                                <i class="fas fa-fw fa-chart-area"></i>
                                <span> Task List</span>
                            </a>
                        </li>
}

            @if (signInManager.IsSignedIn(User) && User.IsInRole("UnitHead"))
            {

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePage" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-briefcase"></i>
                <span>Task</span>
            </a>
            <div id="collapsePage" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Task Utilities:</h6>
                    @*<a class="collapse-item" asp-action="Create" asp-controller="Tasks">Create Task</a>*@
                    <a class="collapse-item" asp-action="TAskUHead" asp-controller="Tasks">Task List</a>

                </div>
            </div>
        </li>


                        <li class="nav-item">
                            <a class="nav-link" asp-action="RequestUH" asp-controller="Requests">
                                <i class="fas fa-fw fa-wrench"></i>
                                <span> Request list</span>
                            </a>
                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="leaveslist" asp-controller="leaves">
                                                <i class="fas fa-fw fa-chart-area"></i>
                                                <span>Unit Head Leave</span>
                                            </a>
                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" asp-action="listuser" asp-controller="role">
                                                                <i class="fas fa-fw fa-chart-area"></i>
                                                                <span>Unit Staff</span>
                                                            </a>
                                                        </li>
                                                                        <li class="nav-item">
                                                                            <a class="nav-link" asp-action="appraisallist" asp-controller="appraisal">
                                                                                <i class="fas fa-fw fa-chart-area"></i>
                                                                                <span>Unit Appraisal</span>
                                                                            </a>
                                                                        </li>
}
            @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
            {

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-briefcase"></i>
                <span>Task</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Task Utilities:</h6>
                    @*<a class="collapse-item" asp-action="Create" asp-controller="Tasks">Create Task</a>*@
                    <a class="collapse-item" asp-action="TAskHR" asp-controller="Tasks">Task List</a>

                </div>
            </div>
        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-action="RequestHI" asp-controller="Requests">
                                <i class="fas fa-fw fa-wrench"></i>
                                <span> Request list</span>
                            </a>
                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="listusers" asp-controller="role">
                                                <i class="fas fa-fw fa-chart-area"></i>
                                                <span>All Employees</span>
                                            </a>
                                        </li>

                                                        <li class="nav-item">
                                                            <a class="nav-link" asp-action="leaves" asp-controller="leaves">
                                                                <i class="fas fa-fw fa-chart-area"></i>
                                                                <span>HR Leave</span>
                                                            </a>
                                                        </li>
                                                                        <li class="nav-item">
                                                                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                                                                                <i class="fas fa-fw fa-wrench"></i>
                                                                                <span>Appraisal</span>
                                                                            </a>
                                                                            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                                                                                <div class="bg-white py-2 collapse-inner rounded">

                                                                                    <a class="collapse-item" asp-action="index" asp-controller="appraisal">All Appraisal</a>
                                                                                    <a class="collapse-item" asp-action="appraisallists" asp-controller="appraisal">Unit Heads Appraisal</a>

                                                                                </div>
                                                                            </div>
                                                                        </li>
}


            <!-- Nav Item - Utilities Collapse Menu -->
            @if (signInManager.IsSignedIn(User) && !(User.IsInRole("HR")))
            {

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Leave</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">

                    <a class="collapse-item" asp-action="index" asp-controller="leaves">Leave</a>
                    <a class="collapse-item" asp-action="create" asp-controller="leaves">Apply</a>

                </div>
            </div>
        </li>

                        <li class="nav-item">
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                                <i class="fas fa-fw fa-wrench"></i>
                                <span>Appraisal</span>
                            </a>
                            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                                <div class="bg-white py-2 collapse-inner rounded">

                                    <a class="collapse-item" asp-action="create" asp-controller="appraisal">Appraisal</a>
                                    <a class="collapse-item" asp-action="details" asp-controller="appraisal">Details</a>

                                </div>
                            </div>
                        </li>
}

            @if (signInManager.IsSignedIn(User) && User.IsInRole("HR"))
            {
        <li class="nav-item">
            <a class="nav-link" asp-action="staffs" asp-controller="forms">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Create Appraisal Form</span>
            </a>
        </li>
       }

            <!-- Divider -->
            <hr class="sidebar-divider">



            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>



                        <div class="topbar-divider d-none d-sm-block"></div>


                        <partial name="_LoginPartial" />

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                @*<partial name="_CookieConsentPartial" />*@
                <div class="container-fluid">
                    @RenderBody()


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>
                            Copyright &copy;
                            Novo Health Africa
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                        </span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <form asp-area="Identity" asp-page="/Account/Logout" method="post" id="logoutForm" class="navbar-right" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button class="btn btn-primary" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    @*<script src="~/lib/jquery/jquery.js"></script>*@
    <!-- Bootstrap core JavaScript-->
    <script src="~/new/vendor/jquery/jquery.min.js"></script>
    <script src="~/new/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/new/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/new/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/new/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/new/js/demo/chart-area-demo.js"></script>
    <script src="~/new/js/demo/chart-pie-demo.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/jquery.timepicker.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
