﻿@model Novo.Models.Entity.Appraise

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Appraise</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <input asp-for="EmployeeId" class="form-control" />
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppraisalDate" class="control-label"></label>
                <input asp-for="AppraisalDate" class="form-control" />
                <span asp-validation-for="AppraisalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeadOfUnitRemark" class="control-label"></label>
                <input asp-for="HeadOfUnitRemark" class="form-control" />
                <span asp-validation-for="HeadOfUnitRemark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HrRemark" class="control-label"></label>
                <input asp-for="HrRemark" class="form-control" />
                <span asp-validation-for="HrRemark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppraisalMode" class="control-label"></label>
                <input asp-for="AppraisalMode" class="form-control" />
                <span asp-validation-for="AppraisalMode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeRating" class="control-label"></label>
                <input asp-for="EmployeeRating" class="form-control" />
                <span asp-validation-for="EmployeeRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManagerRating" class="control-label"></label>
                <input asp-for="ManagerRating" class="form-control" />
                <span asp-validation-for="ManagerRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HrRating" class="control-label"></label>
                <input asp-for="HrRating" class="form-control" />
                <span asp-validation-for="HrRating" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AddedBy" class="control-label"></label>
                <input asp-for="AddedBy" class="form-control" />
                <span asp-validation-for="AddedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsDelete" /> @Html.DisplayNameFor(model => model.IsDelete)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
