﻿@model IEnumerable<Novo.Models.Entity.LeaveType>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-secondary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>

            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedBy)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn-sm btn-secondary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn-sm btn-secondary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn-sm btn-secondary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
