﻿@model Novo.Models.Entity.EmployeeContacts

@{ ViewData["Title"] = "Details"; }

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{ 
                var Code = Guid.NewGuid().ToString("n").Substring(0, 4);
                var user = await UserManager.GetUserAsync(User);
                //var unit = user.Units.Name;
                var formtype = "hidden";
                var Input = "readonly";
               
    }


<br />
<h2 class="text-info">Employee Contact</h2>

<div class="p-4 border rounded row">
    <div class="col-8">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="AddedBy"></label>
            </div>
            <div class="col-8">
                <input asp-for="AddedBy" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Address"></label>
            </div>
            <div class="col-8">
                <input asp-for="Address" readonly class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="States"></label>
            </div>
            <div class="col-8">
                <input asp-for="States" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Lgas"></label>
            </div>
            <div class="col-8">
                <input asp-for="Lgas" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="BeneficiaryName"></label>
            </div>
            <div class="col-8">
                <input asp-for="BeneficiaryName" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="BeneficiaryNo"></label>
            </div>
            <div class="col-8">
                <input asp-for="BeneficiaryNo" readonly class="form-control" />
            </div>
        </div>
        
    </div>

    <br />
    <div class="form-group">
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a>
        @*<a asp-action="Index" class="btn btn-success">Back to List</a>*@
    </div>
</div>
