﻿@model Novo.Models.Entity.EmployeeContacts

@{
    ViewData["Title"] = "Edit";
}

<h4 class="text-secondary text-center">Contact</h4>
<hr />
<div class="row">
    <div class="col-md-6 offset-3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
            
                <input asp-for="EmployeeId" class="form-control" hidden/>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input asp-for="StateOfOrigin" class="form-control" hidden/>
                <span asp-validation-for="StateOfOrigin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryOfOrigin" class="control-label"></label>
                <input asp-for="CountryOfOrigin" class="form-control" />
                <span asp-validation-for="CountryOfOrigin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeneficiaryName" class="control-label"></label>
                <input asp-for="BeneficiaryName" class="form-control" />
                <span asp-validation-for="BeneficiaryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeneficiaryNo" class="control-label"></label>
                <input asp-for="BeneficiaryNo" class="form-control" />
                <span asp-validation-for="BeneficiaryNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeneficiaryAddress" class="control-label"></label>
                <input asp-for="BeneficiaryAddress" class="form-control" />
                <span asp-validation-for="BeneficiaryAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyName" class="control-label"></label>
                <input asp-for="EmergencyName" class="form-control" />
                <span asp-validation-for="EmergencyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyNo" class="control-label"></label>
                <input asp-for="EmergencyNo" class="form-control" />
                <span asp-validation-for="EmergencyNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyAddress" class="control-label"></label>
                <input asp-for="EmergencyAddress" class="form-control" />
                <span asp-validation-for="EmergencyAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lgas" class="control-label"></label>
                <input asp-for="Lgas" class="form-control" />
                <span asp-validation-for="Lgas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="States" class="control-label"></label>
                <input asp-for="States" class="form-control" />
                <span asp-validation-for="States" class="text-danger"></span>
            </div>
            <div class="form-group">
            
                <input asp-for="Region" class="form-control" hidden/>
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AddedBy" class="control-label"></label>
                <input asp-for="AddedBy" class="form-control" />
                <span asp-validation-for="AddedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
             
                <input asp-for="UpdatedBy" class="form-control" hidden/>
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input asp-for="UpdateDate" class="form-control" hidden/>
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsDelete" /> @Html.DisplayNameFor(model => model.IsDelete)
                    </label>
                </div>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Update" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
