﻿@model IEnumerable<Novo.Models.Entity.Qualifications>
@using Novo.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{ ViewData["Title"] = "Staff List";
                var user = await UserManager.GetUserAsync(User); }


<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Academic History List</li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="col-md-12 table-responsive-md">
                        <a class="btn btn-xs btn-outline-success float-md-right" asp-action="Create"> New Academic History</a>
                        <br /><br />
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    @*<th>Full Name</th>*@
                                    <th>Academic Qualification</th>
                                    @*<th>Description</th>*@
                                    <th>Professional Qualification</th>
                                    @*<th>Description</th>*@
                                    <th>Institution</th>
                                    <th>Duration</th>
                                    <th>Certificate</th>                                   
                                    <th class="text-warning">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                    <tr>
                        @*<td>
                                @user.FirstName @user.LastName
                                <a asp-action="Detail" asp-route-id="@item.Id"> @item.EmployeeId</a>
                            </td>*@
                        <td>@item.Academic</td>
                        @*<td>@item.AcademicDescription</td>*@
                        <td>@item.Professional</td>
                        @*<td>@item.ProfessionalDescription</td>*@
                        <td>@item.Institution</td>
                        <td>@item.Duration</td>
                        <td>  <img alt="image" style="border-radius:5px; border:1px solid #bbb9b9; width:100px;" src="@Url.Content("~/images/Cert/" + item.Image)" asp-append-version="true" /></td>
                        <td>
                            <a class="text-primary" asp-action="Edit" asp-route-id="@item.Id">
                                <i class="fas fa-edit"></i>
                            </a>
                            &nbsp;
                            &nbsp;
                            <a class="text-success" asp-action="Details" asp-route-id="@item.Id">
                                <i class="fas fa-bars"></i>
                            </a>
                            &nbsp;
                            &nbsp;
                            <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>}
                            </tbody>
                        </table><br />


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>